.BTEC-section {
    padding: 8rem 10%;
}

.BTEC-card {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    padding: 3rem;
    border-radius: 2rem;
    box-shadow: 0 0 30px rgba(0,0,0,0.12);
}

.BTEC-text {
    max-width: 550px;
}

.BTEC-text h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}


.BTEC-text p {
    font-size: 1.1rem;
    line-height: 1.7;
    margin-bottom: 1rem;
}

.BTEC-image-box img {
    width: 32rem;
    max-width: 100%;
    border-radius: 1.5rem;
    box-shadow: 0 0 25px rgba(0,0,0,0.15);
}

@media (max-width: 900px) {
    .BTEC-card {
        flex-direction: column;
        text-align: center;
    }

    .BTEC-section {
        padding: 6rem 5%;
    }
}